{% extends 'apptienda/home.html' %}

{% block title %}
    <h1 class="mb-5">Acerca de mi</h1>
{% endblock title %}

{% block contenido %}
<h2> Acerca de mi </h2>


    <div class="text-center">     
        <h3>Hola, bienvenidos a mi sitio en python </h3>
        <p >Me llamo Jhon Edwar Obando, soy de Colombia y actualmente vivo en Bogotá, tengo 31 años y me encanta aprender cosas nuevas,
            trabajo como diseñador en un software contable y me gustaría hacer un cambio al desarrollo que siempre me ha llamado la atención
        </p>
        <h3>Contacto </h3>
        <p> email: Jhonedwar92@gmail.com</p>
    </div>

{% endblock contenido %}