{% extends 'apptienda/home.html' %}

{% block title %}
    <h1 class="masthead-heading mb-0">Mascotas</h1>
{% endblock title %}

{% block contenido %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Nombre</th>
                <th>Raza</th>
                <th>Edad</th>
            </tr>
        </thead>
        <tbody>
            {% for m in mascotas %}
                <tr>
                    <td>{{m.id}}</td>
                    <td>{{m.tipo}}</td>
                    <td>{{m.nombre}}</td>
                    <td>{{m.raza}}</td>
                    <td>{{m.edad}}</td>

                </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock contenido %}



