{% extends 'apptienda/home.html' %}

{% block title %}
    <h1 class="masthead-heading mb-0">Medicamentos</h1>
{% endblock title %}

{% block contenido %}
    <table>
        <tr>
            <td width="200"><h2>Medicamento</h2></td>
            <td>
                <a
                href="{% url 'medicina_create' %}"
                class="btn btn-primary btn-sm"
                ><i class="fa fa-plus fa-lg" title="Crear"> </i>
                </a>
            </td>
        </tr>
    </table>
   

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                {% comment %} <th>Descripcion</th> {% endcomment %}
                {% comment %} <th>Animal</th> {% endcomment %}
                <th>Disponible</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for m in medicina_list %}
                <tr>
                    <td>{{m.id}}</td>
                    <td>{{m.nombre_medicina}}</td>
                    {% comment %} <td>{{m.descripcion}}</td> {% endcomment %}
                    {% comment %} <td>{{m.tipo_de_animal}}</td> {% endcomment %}
                    <td>{{m.disponibilidad}}</td>
                    <td>
                        <a
                          href="{% url 'medicina_update' m.id %}"
                          class="btn btn-primary"
                          style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                          ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                        </a>
                        <a
                          href="{% url 'medicina_delete' m.id %}"
                          class="btn btn-danger"
                          style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                          ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                        </a>                
                      </td>

                </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock contenido %}



