{% extends 'apptienda/home.html' %}

{% block title %}
    <h1 class="masthead-heading mb-0">Mascotas</h1>
{% endblock title %}

{% block contenido %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Producto</th>
                <th>Cateogria</th>
                <th>Tipo de mascota</th>
                <th>Disponibilidad</th>
            </tr>
        </thead>
        <tbody>
            {% for p in productos %}
                <tr>
                    <td>{{p.id}}</td>
                    <td>{{p.nombre_producto}}</td>
                    <td>{{p.categoria}}</td>
                    <td>{{p.tipo_de_animal}}</td>
                    <td>{{p.disponibilidad}}</td>

                </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock contenido %}


